<!DOCTYPE html>
<html lang="en">

<head>
	<title>Clover-Get Lucky!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
	<link rel='stylesheet prefetch' href='http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.16/css/uikit.min.css" />
	<link rel="stylesheet" type="text/css" href="/Contents/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/Contents/css/main.css">
	<link rel="stylesheet" type="text/css" href="/Contents/css/profile.css">
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.16/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.16/js/uikit-icons.min.js"></script>
	<script type="text/javascript" src="\Contents\js\scripts.js"></script>
</head>

<body>

	<header class="userprofile">
		<div class="profile">
			<div class="avatar">
				<img src='~/Contents/Profile/output/@Model["avatar"].jpg()' class="media" alt="" />
			</div>
			<div class="info">
				<h1>@Model["currentUser"].name</h1>
				@if (@Model["currentUser"].GetGenders().Count == 0)
				{
					<span class="uk-badge gender">Gender Undefined</span>
				}
				else
				{
					<span class="uk-badge gender">@Model["currentUser"].GetGenders()[0]</span>
				}
				<ul class="social-icons icon-circle icon-rotate list-unstyled list-inline">
					<li> <a href="#"><i class="fa fa-flickr"></i></a></li>
					<li> <a href="https://m.me/XYZ" uk-toggle="target: #my-id"><i class="fa fa-facebook"></i></a></li>
					<li> <a href="#"><i class="fa fa-foursquare"></i></a></li>
				</ul>
				<h3>@Model["currentUser"].description</h3>
			</div>

		</div>

		<nav class="usernav uk-align-center">
			<a class="uk-button uk-button-primary btn button-back" href='/users/@Model["userId"]/current'>All users</a><br>
			<a class="uk-button uk-button-secondary btn" uk-toggle="target: #edit" type="button" href="/users/@Model["userId"]/edit">Edit my profile</a><br>
			<button class="uk-button uk-button-danger btn" href="#">Contact Us</button><br>
		</nav>
		<!-- end navigation menu -->
</header>
	<!-- end header -->

	<section class="main clearfix">
		<div class="profile uk-transition-toggle uk-transition-toggle">
			<a href="inner.html">
				<img src="Contents/img/profile1.jpg" class="media uk-transition-scale-up uk-transition-opaque uk-transition-scale-up uk-transition-opaque" alt=""/>
				<div class="caption">
						<h1>Amanda</h1>
						<h3>Cashme ousside howboudah?</h3>
				</div>
			</a>
		</div>

		<div class="profile uk-transition-toggle">
			<a href="inner.html">
				<img src="~/Contents/img/profile2.jpg" class="media uk-transition-scale-up uk-transition-opaque" alt=""/>
				<div class="caption">
						<h1>Steve</h1>
						<h3>I'll mix up the Miss Universe result for you</h3>
				</div>
			</a>
		</div>

		<div class="profile uk-transition-toggle">
			<a href="inner.html">
				<img src="Contents/img/profile3.jpg" class="media uk-transition-scale-up uk-transition-opaque" alt=""/>
				<div class="caption">
						<h1>Rick</h1>
						<h3>Never gonna give you up and/or let you down</h3>
				</div>
			</a>
		</div>

		<div class="profile uk-transition-toggle">
			<a href="inner.html">
				<img src="Contents/img/profile4.jpg" class="media uk-transition-scale-up uk-transition-opaque" alt=""/>
				<div class="caption">
						<h1>Salt Bae</h1>
						<h3>Salt isn't the only thing I can sprinkle ;)</h3>
				</div>
			</a>
		</div>

		<div class="profile uk-transition-toggle">
			<a href="inner.html">
				<img src="Contents/img/profile5.jpg" class="media uk-transition-scale-up uk-transition-opaque" alt=""/>
				<div class="caption">
						<h1>Gaga, Miss</h1>
						<h3>Being extra is a way of life</h3>
				</div>
			</a>
		</div>

		<div class="profile uk-transition-toggle">
			<a href="inner.html">
				<img src="Contents/img/profile6.jpg" class="media uk-transition-scale-up uk-transition-opaque" alt=""/>
				<div class="caption">
						<h1>Bob</h1>
						<h3>Living in a pineapple under the sea</h3>
				</div>
			</a>
		</div>

		<div class="profile uk-transition-toggle">
			<a href="inner.html">
				<img src="Contents/img/profile7.jpg" class="media uk-transition-scale-up uk-transition-opaque" alt=""/>
				<div class="caption">
						<h1>Breaking Cat</h1>
						<h3>Not doing meth at the moment</h3>
				</div>
			</a>
		</div>

		<div class="profile uk-transition-toggle">
			<a href="inner.html">
				<img src="Contents/img/profile8.jpg" class="media uk-transition-scale-up uk-transition-opaque" alt=""/>
				<div class="caption">
						<h1>Bill</h1>
						<h3>Casually richer than you</h3>
				</div>
			</a>
		</div>

		<div class="profile uk-transition-toggle">
			<div class="ribbon"><span>NEW</span></div>
			<a href="inner.html">
				<img src="Contents/img/profile9.jpg" class="media uk-transition-scale-up uk-transition-opaque" alt=""/>
				<div class="caption">
						<h1>Joanne</h1>
						<h3>Honestly,truly...Get out of my Caucasian House</h3>
				</div>
			</a>
		</div>
		</div>
	</section><!-- end main -->



<div uk-modal>
<div class="uk-modal-dialog uk-modal-body">
	<h2 class="uk-modal-title">Ready to get lucky?</h2>
	<form class="uk-form-stacked" action="/users/new/added" method="post">

    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Name</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-width-large" id="name" type="text" placeholder="Your full name" name="user-name">
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Create a username</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-width-medium" id="username" type="text" placeholder="Username" name="user-username">
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Breifly describe yourself</label>
        <div class="uk-form-controls">
            <textarea class="uk-input uk-form-width-medium" type="text" placeholder="Description" id="description" name="user-description"></textarea>
        </div>
    </div>

		<div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Create a password</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-width-medium" id="password" type="password" placeholder="Password" name="password">
        </div>
    </div>

		<div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">State Your Gender</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-width-medium" id="gender" type="text" placeholder="Gender" name="user-gender">
        </div>
    </div>

		<div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Work place</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-width-medium" id="work" type="text" placeholder="Work Place" name="user-work">
        </div>
    </div>

		<div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Favorite food</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-width-medium" id="food" type="text" placeholder="Favorite Food" name="user-food">
        </div>
    </div>

		<div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Hobby</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-width-medium" id="hobby" type="text" placeholder="Hobby" name="user-hobby">
        </div>
    </div>

		<div class="uk-margin">
	    <h1>Upload A Charming Image of You</h1>
	    <input type="file" id="myFile">
	    <input type="hidden" name="value" value="" id="path">
	  </div>

		<div class="map">

		</div>

		@* <p>Use Current Location</p>
	  <input type="hidden" name="location" id="location" value="">
	  @Html.Partial("map.cshtml") *@

    @* <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-select">Select</label>
        <div class="uk-form-controls">
            <select class="uk-select" id="form-stacked-select">
                <option>Option 01</option>
                <option>Option 02</option>
            </select>
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-form-label">Radio</div>
        <div class="uk-form-controls">
            <label><input class="uk-radio" type="radio" name="radio1"> Option 01</label><br>
            <label><input class="uk-radio" type="radio" name="radio1"> Option 02</label>
        </div>
    </div> *@
		<br>
		<button class="uk-button uk-button-default" type="submit">Submit</button>
		<button class="uk-button uk-button-primary uk-modal-close" type="button" id="cancel">Cancel</button>
</form>
</div>
</div>


</body>
</html>
