<!DOCTYPE html>
<html lang="en">

<head>
	<title>Clover-Get Lucky!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
	<link rel='stylesheet prefetch' href='http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.16/css/uikit.min.css" />
	<link rel="stylesheet" type="text/css" href="~/Contents/css/reset.css">
	<link rel="stylesheet" type="text/css" href="~/Contents/css/main.css">
	<link rel="stylesheet" type="text/css" href="~/Contents/css/profile.css">
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.16/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.16/js/uikit-icons.min.js"></script>
	<script type="text/javascript" src="\Contents\js\scripts.js"></script>
</head>

<body>

  <header class="userprofile">
		<div class="profile">
			<div class="avatar">
				<img src='~/Contents/Profile/output/@Model["avatar"].jpg()' class="media" alt="" />
			</div>
			<div class="info">
				<h1>@Model["currentUser"].name</h1>
				@if (@Model["currentUser"].GetGenders().Count == 0)
				{
					<span class="uk-badge gender">Gender Undefined</span>
				}
				else
				{
					<span class="uk-badge gender">@Model["currentUser"].GetGenders()[0]</span>
				}
				<ul class="social-icons icon-circle icon-rotate list-unstyled list-inline">
					<li> <a href="#"><i class="fa fa-flickr"></i></a></li>
					<li> <a href="https://m.me/XYZ" uk-toggle="target: #my-id"><i class="fa fa-facebook"></i></a></li>
					<li> <a href="#"><i class="fa fa-foursquare"></i></a></li>
				</ul>
				<h3>@Model["currentUser"].description</h3>
			</div>

		</div>

		<nav class="usernav uk-align-center">
			<a class="uk-button uk-button-primary btn button-back" href='/users/@Model["userId"]/current'>All users</a><br>
			<button class="uk-button uk-button-secondary btn" uk-toggle="target: #edit" type="button">Edit my profile</button><br>
			<button class="uk-button uk-button-danger btn" href="#">Contact Us</button><br>
		</nav>
		<!-- end navigation menu -->
</header>
	<!-- end header -->

	<div class="main clearfix container">
		@foreach (var user in @Model["allUsers"])
		{
			<div class="profile uk-transition-toggle uk-transition-toggle">
				@if (@user.userId == @Model["userId"])
				{
					<div class="ribbon"><span>NEW</span></div>
				}
				<a href='/users/@Model["userId"]'>
					<img src="~/Contents/Profile/output/@user.GetAvatar().jpg()" class="media uk-transition-scale-up uk-transition-opaque uk-transition-scale-up uk-transition-opaque" alt=""/>
					<div class="caption">
						<h1>@user.name</h1>
						<h3>@user.description</h3>
					</div>
				</a>
			</div>
		}

	</div><!-- end main -->
</body>
</html>
