@{
    Layout="Shared/_Layout.cshtml";
}

<h1>@Model["name"]</h1>

@foreach(var gender in @Model["gender"])
{
  <li>@gender</li>
}
<p>@Model["description"]</p>

@foreach(var work in @Model["work"])
{
  <li>@work</li>
}
@foreach(var food in @Model["food"])
{
  <li>@food</li>
}
@foreach(var hobby in @Model["hobby"])
{
  <li>@hobby</li>
}
<h4><a href="/">Return Home</a></h4>
