@{
    Layout="Shared/_Layout.cshtml";
}

<img src='/Contents/Profile/output/@Model["avatar"].jpg()'>

<h1>@Model["name"]</h1>
<form action='/users/@Model["user"]' method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn">Delete</button>
</form>
    <button type="submit" class="btn">Edit</button>
<p>@Model["description"]</p>
<ul>
@foreach(var gender in @Model["gender"])
{
  <li>@gender</li>
}
</ul>
<ul>
@foreach(var work in @Model["work"])
{
  <li>@work</li>
}
</ul>
<ul>
@foreach(var food in @Model["food"])
{
  <li>@food</li>
}
</ul>
<ul>
@foreach(var hobby in @Model["hobby"])
{
  <li>@hobby</li>
}
</ul>
<h4><a href='/loggedin/@Model["user"]'>Return Home</a></h4>
