@{
    Layout="Shared/_Layout.cshtml";
}

<img src='/Contents/Profile/output/@Model["avatar"].jpg()'>

<h1>@Model["name"]</h1>
<form action='/users/@Model["user"]' method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn">Delete</button>
</form>
<form class="appears" action='/users/edit/@Model["user"]' method="post">
      <input type="hidden" name="_method" value="PATCH">
      <label for="new-user-name">User Name: </label>
      <input type="text" name="new-user-name" value='@Model["user"]'>
      <button type="submit" class="btn">Edit</button>
</form>
<h4>@Model["gender"]</h4>
<p>@Model["description"]</p>
<ul>
  <li>Work: @Model["work"]</li>
  <li>Food: @Model["food"]</li>
  <li>Hobby: @Model["hobby"]</li>
</ul>
<h4><a href="/loggedin">Return Home</a></h4>
